<div class="main-header" style="height: 220px;float: left;">
	<div class="main-header-inner">

		<div class="left-block">
			<div class="text1">Last Visit:</div>
			<div class="header1">4/11/17</div>
			<div class="text1" style="margin-top: 18px;">Follow-up:</div>
			<div class="header1">7/11/17</div>
		</div>
		<div class="separator" style="float: left;"></div>

		<!--<div class="right-block" *ngIf="isRoot">
			<div class="text1">Daily Quote:</div>
			<div class="header1" style="margin-top: 10px">
				<span>&lt;&lt;</span>Happiness is nothing more than good health and a bad memory.<span>&gt;&gt;</span>
			</div>
		</div>

		<div class="separator" style="float: right;" *ngIf="isRoot"></div>
		<div class="center-block" *ngIf="isRoot">
			<div class="item">
				<div class="header2">Body Composition</div>
				<div class="text2" style="margin-top: 14px;">BMO Change vs Previous</div>
				<div class="text2" style="margin-top: 14px;">1447 3.2%</div>
				<div class="text2">1402 -</div>
			</div>
			<div class="item">
				<div class="header2">Cardio Fitness Summary</div>
				<div class="text2" style="margin-top: 14px;">Fitness Level - Excellent</div>
				<div class="header3" style="margin-top: 10px;">Anerobic Threshold</div>
				<div class="text2">Heart Rate - 179</div>
				<div class="header3" style="margin-top: 10px;">Recovery Heart Rate</div>
				<div class="text2">1 Min - 139</div>
				<div class="text2">1 Min - 122</div>
			</div>
			<div class="item">
				<div class="header2">Metabolic Summary</div>
				<div class="text2" style="margin-top: 14px;">Measured RMR - <b>1173</b></div>
				<div class="text2">Predicted RMR - <b>1937</b></div>
				<div class="text2">Deviation - <b>8%</b></div>
				<div class="text2">Metabolism Speed - <b>NORMAL</b></div>
			</div>
		</div>-->

		<div class="center-block" style="margin-right: 0px;">
			<div class="item">
				<div class="header2">BODY COMPOSITION <img src="/assets/images/muscle.png" /></div>
				<div class="text2" style="margin-top: 26px;"><b>Body Fat %</b> - 09/08/2017</div>
				<div style="margin-top: 5px;">
					<div class="percentage-bar">12.4%
						<div style="width: 29px;"></div>
					</div>
				</div>
				<div class="text2" style="margin-top: 15px;"><b>Previous</b> - 04/20/2017</div>
				<div style="margin-top: 5px;">
					<div class="percentage-bar">15.4%
						<div style="width: 63px;"></div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="header2">CARDIO FITNESS SUMMARY <img src="/assets/images/heart.png" /></div>
				<div style="display: inline-block;width: 49%;">
					<div class="text2" style="margin-top: 26px;">Vo2max</div>
					<div class="header4" style="margin-top: 5px">69</div>
				</div>
				<div style="display: inline-block;width: 49%;">
					<div class="text2" style="margin-top: 26px;">Fitness Level</div>
					<div class="header4" style="margin-top: 5px">Excellent</div>
				</div>
				<div class="text2" style="margin-top: 26px;">Recovery Heart Rate</div>
				<div>
					<img src="/assets/images/graph.png" style="max-width: 129px;float: left;" />
					<div class="graph-comment">
						<div>
							<div class="bullet"></div>
							<div class="text2">139 bmp - 1 min</div>
						</div>
						<div>
							<div class="bullet" style="background-color: #42FFd8;"></div>
							<div class="text2">122 bmp - 2 min</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="header2">METABOLIC SUMMARY <img src="/assets/images/molecule.png" /></div>
				<div class="text2" style="margin-top: 26px;">Metabolism Speed</div>
				<div class="header4" style="margin-top: 5px">Normal</div>
				<div class="text2" style="margin-top: 26px;">Resting Metabolic Rate</div>
				<div class="header4" style="margin-top: 5px">1173 <img src="/assets/images/arrow.png" style="max-width: 62px;margin-left: 50px" /></div>
			</div>

		</div>

	</div>
</div>

<div class="toolbar">
	<div class="search-box-container">
		<input type="text" placeholder="Search" />
		<img src="/assets/images/search.png" class="search-icon" />
		<img src="/assets/images/arrow-drop-down.png" class="arrow-down-icon" />
	</div>
</div>

<div class="inner-content">
	<div class="title" *ngIf="isRoot==true">My Vault</div>
	<div class="title-link" *ngIf="isRoot==false" [routerLink]="['../vault']">My Vault &gt; </div>
	<div class="title-link" *ngFor="let path of paths" [routerLink]="['../vault']" [queryParams]="{folder: path.id }">{{path.name}} &gt;</div>
	<div class="title" *ngIf="isRoot==false">{{info.name}}</div>
	<div class="button-container">

		<button class="btn-custom-light-blue" style="width: 40px;" (click)="openCreateNote()">
			<img src="/assets/images/pencil-and-paper.png" style="width: 20px;margin-top: -4px;" />
		</button>

		<button class="btn-custom-light-blue" (click)="openCreateFolder()">New Folder</button>

		<div class="fileinputs">
			<input type="file" ng2FileSelect [uploader]="uploader" placeholder="Upload" (change)="fileChange($event)" />
			<div class="fakefile">
				<button class="btn-custom-light-blue-fill">Upload</button>
			</div>
		</div>

	</div>

	<div class="table-container">
		<div class="table-row">
			<div class="folder-icon">&nbsp;</div>
			<div class="name">Name</div>
			<div class="date-modified">Date Modified</div>
			<div class="description">Description</div>
		</div>
		<div class="table-row" *ngIf="isLoading">
			<div class="loading">
				<div class="isa_info" style="margin: 0px;padding: 0px;"><i class="fa fa-info-circle"></i> {{infoMessage}}</div>
			</div>
		</div>
		<div class="table-row" *ngIf="isLoading==false && folderList.length==0 && fileList.length==0">
			<div class="loading">Folder is empty.</div>
		</div>
		<div class="table-row" *ngFor="let item of folderList">
			<a [routerLink]="['../vault']" [queryParams]="{folder: item.id }">
				<div class="folder-icon"><img src="/assets/images/folder-symbol.png" /></div>
				<div class="name">{{item.name}}</div>
				<div class="date-modified">{{item.modified_at | date: 'MM-dd-yyyy'}}</div>
				<div class="description">{{item.description || '&nbsp;'}}</div>
			</a>
			<div class="action-menu dropdown">
				<button class="btn-custom-light-blue dropdown-toggle" data-toggle="dropdown">
					<img src="/assets/images/combined-shape.png" />
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a (click)="deleteItem(item.id, 'folder')">Delete</a></li>
					<li><a>Share</a></li>
					<li><a>Move or Copy</a></li>
					<li><a>Lock</a></li>
				</ul>
			</div>
		</div>

		<div class="table-row" *ngFor="let item of fileList">
			<a (click)="downloadFile(item.id)">
				<div class="folder-icon"><img src="/assets/images/google-drive-pdf-file.png" /></div>
				<div class="name">{{item.name}}</div>
				<div class="date-modified">{{item.modified_at | date: 'MM-dd-yyyy'}}</div>
				<div class="description">{{item.description || '&nbsp;'}}</div>
			</a>
			<div class="action-menu dropdown">
				<button class="btn-custom-light-blue dropdown-toggle" data-toggle="dropdown">
					<img src="/assets/images/combined-shape.png" />
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a (click)="deleteItem(item.id, 'file')">Delete</a></li>
					<li><a>Share</a></li>
					<li><a (click)="downloadFile(item.id)">Download</a></li>
					<li><a>Move or Copy</a></li>
					<li><a>Lock</a></li>
				</ul>
			</div>
		</div>
		<!-- microsoft-excel-file.png microsoft-word-file.png -->
	</div>
</div>

<div id="custom-modal-container" class="custom-modal-background" *ngIf="isNewFolder || isNewNote">
	<div class="custom-modal-inner">
		<h4 *ngIf="isNewFolder">Create a Folder</h4>
		<h4 *ngIf="isNewNote">Create a Vault Note</h4>
		<div class="form-group" *ngIf="isNewFolder">
			<div class="col-sm-12 text-left">Folder Name:</div>
			<div class="col-sm-12">
				<input type="text" class="form-control" [(ngModel)]="newFolder.name" [ngModelOptions]="{standalone: true}" (keyup.enter)="addNewFolder()" />
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="form-group" *ngIf="isNewFolder">
			<div class="col-sm-12 text-left">Description:</div>
			<div class="col-sm-12">
				<input type="text" class="form-control" [(ngModel)]="newFolder.description" [ngModelOptions]="{standalone: true}" (keyup.enter)="addNewFolder()" />
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="form-group" *ngIf="isNewNote">
			<div class="col-sm-12 text-left">Name:</div>
			<div class="col-sm-12">
				<input type="text" class="form-control" [(ngModel)]="newNote.name" [ngModelOptions]="{standalone: true}" (keyup.enter)="addNewNote()" />
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="form-group" *ngIf="isNewNote">
			<div class="col-sm-12 text-left">Content:</div>
			<div class="col-sm-12">
				<textarea class="form-control" [(ngModel)]="newNote.content" [ngModelOptions]="{standalone: true}" (keyup.enter)="addNewNote()"></textarea>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<div class="isa_error" *ngIf="errorMessage!=''"><i class="fa fa-times-circle"></i> {{errorMessage}}</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-6">
				<button class="btn-custom-blue btn-block" (click)="addNew()" [disabled]="isLoading==true">Create</button>
			</div>
			<div class="col-sm-6">
				<button class="btn-custom-white btn-block" (click)="isNewFolder = false;isNewNote = false;">Cancel</button>
			</div>
			<div class="clearfix"></div>
		</div>

	</div>
</div>