<div>

  <div class="content-section left-content-section text-center">
    <div class="col-sm-12"><img src="/assets/images/logo.png" class="logo" /></div>
    <div class="clearfix"></div>
    <form>
      <div class="form-group">
        <div class="col-sm-7 col-sm-offset-4">
          <button class="btn-facebook" (click)="fb_login()">Connect with <b>Facebook</b></button>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="form-group">
        <div class="col-sm-7 col-sm-offset-4">
          <div style="float: left;width: 40%;"><img src="/assets/images/line.png" /></div>
          <div style="float: left;width: 20%;text-align: center;">Or</div>
          <div style="float: left;width: 40%;"><img src="/assets/images/line.png" /></div>
        </div>
        <div class="clearfix"></div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-4 text-right label">Email</div>
        <div class="col-sm-7">
          <input type="text" class="form-control" placeholder="Email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 text-right label">Password</div>
        <div class="col-sm-7">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-7 col-sm-offset-4">
          <div class="isa_error" *ngIf="errorMessage!=''"><i class="fa fa-times-circle"></i> {{errorMessage}}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-7 col-sm-offset-4">
          <button class="btn-signup" (click)="login()" [disabled]="isProcessing==true">Sign In</button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-7 col-sm-offset-4 text-center">
          Don't have an account? <a class="link1" [routerLink]="['../signup']">Get started</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>

  <div class="content-section right-content-section" [style.height]="main_height">
    <div class="header">
      <span>Join thousands of others</span> taking control of their health and fitness with DexaFit
    </div>

    <div class="comments">
      <div>
        "I learned more about my health in 30 minutes at DexaFit than I have in 20 years going to my doctor."<br /><br />
        - Rick Manley
      </div>
      <div style="margin-top: 51px">
        "DexaFit motivates me to stay accountable and complete to the absolute best of my ability."<br /><br />
        - Amy Fasse
      </div>
    </div>
  </div>

</div>