<div class="side-bar-layout">
	<div class="main-header">
		<h1>Shop DexaFit</h1>
		<ul class="top-nav-menu">
			<li><a [ngClass]="{'active': category=='Body Comp'}" [routerLink]="['../Body Comp']">Body Comp</a></li>|
			<li><a [ngClass]="{'active': category=='Fitness'}" [routerLink]="['../Fitness']">Fitness</a></li>|
			<li><a [ngClass]="{'active': category=='Metabolism'}" [routerLink]="['../Metabolism']">Metabolism</a></li>|
			<li><a [ngClass]="{'active': category=='Biomarkers'}" [routerLink]="['../Biomarkers']">Biomarkers</a></li>|
			<li><a [ngClass]="{'active': category=='DNA'}" [routerLink]="['../DNA']">DNA</a></li>|
			<li><a [ngClass]="{'active': category=='Microbiome'}" [routerLink]="['../Microbiome']">Microbiome</a></li>|
			<li><a [ngClass]="{'active': category=='Food'}" [routerLink]="['../Food']">Food</a></li>
		</ul>
		<div class="clearfix"></div>
	</div>

	
	<div class="inner-content" *ngIf="isLearnMore" style="padding: 0px">
		<iframe [style.height]='iframe_height' width="100%" frameborder="no" [src]="selectedItem.url | safe"></iframe>
	</div>

	<div class="inner-content" *ngIf="isLearnMore==false">

		<div class="header">{{category}}</div>
		<div *ngFor="let item of items; let i=index" class="item" (click)="selectItem(item, 1)" [ngClass]="{'active': item.name==selectedItem.name && selectedCategory==1}">
			<div><img src="/assets/images/{{item.image}}" /></div>
			<div style="line-height: 40px">{{item.name}}</div>
		</div>
		<div class="header">Most Popular</div>
		<div *ngFor="let item of getMostPopularItems(); let i=index" class="item" (click)="selectItem(item, 2)" [ngClass]="{'active': item.name==selectedItem.name && selectedCategory==2}">
			<div><img src="/assets/images/{{item.image}}" /></div>
			<div style="line-height: 40px">{{item.name}}</div>
		</div>
		<!--<div class="arrow-image">
			<img src="/assets/images/right-arrow.png" (click)="displayItem(1, 1)" />
		</div>-->
		<div class="header">New Release & Specials</div>
		<div *ngFor="let item of getNewReleasedItems(); let i=index" class="item" (click)="selectItem(item, 3)" [ngClass]="{'active': item.name==selectedItem.name && selectedCategory==3}">
			<div><img src="/assets/images/{{item.image}}" /></div>
			<div style="line-height: 40px">{{item.name}}</div>
		</div>
		<!--<div class="arrow-image">
			<img src="/assets/images/right-arrow.png" (click)="displayItem(2, 1)" />
		</div>-->
	</div>

	<div class="side-bar">
		<div class="side-bar-inner" *ngIf="selectedItem.title">
			<h2>{{selectedItem.title}}</h2>
			<div [innerHTML]="selectedItem.description"></div>
			<div class="btn-appointment-container">
				<button *ngIf="selectedItem.learn_more==false" class="btn-shop" [routerLink]="['../../book']">Book Appointment</button>
				<button *ngIf="selectedItem.learn_more==true" class="btn-shop" (click)="isLearnMore=true;">Learn More</button>
			</div>
		</div>
	</div>
</div>