
.inner-content {
	padding: 0px 36px 10px 36px;
	width: 890px;
	background-color: #FFF;
	float: left;
}

.inner-content .header {
	margin: 40px 0px 15px;
	line-height: 24px;
	font-size: 18px;
	color: #2F373E;
	font-weight: 700;
	width: 100%;
	display: inline-block;
}

.inner-content .item {
	width: 260px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border: 2px solid #FFF;
}

.inner-content .active {
	border-radius: 2px;
	border: 2px solid #4AD3B7;
}

.inner-content .item img {
	max-width: 260px;
}

.inner-content .arrow-image {
	width: 23px;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	margin-top: 45px;
}

.inner-content .arrow-image img {
	max-width: 23px;
	height: 49px;
}

.side-bar {
	margin-left: 890px;
	background-color: #E4E5E9;
}

@media screen and (max-width: 1296px) {
	.inner-content {
		width: 100%;
		float: none;
	}
}
