<div class="calendar">
	<div class="calendar-row">
		<div class="left-arrow" (click)="goMonth(-1)">&lt;</div>
		<div class="month-name">{{getCurrentMonthName()}}</div>
		<div class="right-arrow" (click)="goMonth(1)">&gt;</div>
	</div>

	<div class="calendar-row">
		<div>SUN</div><div>MON</div><div>TUE</div><div>WED</div><div>THU</div><div>FRI</div><div>SAT</div>
	</div>

	<div class="calendar-row">
		<div *ngFor="let item of getArrayList(offsetLeft())">&nbsp;</div><div *ngFor="let item of getArrayList(30);let i=index" (click)="setDate(i + 1)" [ngClass]="{'active': (i + 1)==day}">{{i + 1}}</div>
	</div>

	<button class="btn-search" (click)="onSearch()">Search</button>
</div>
